* {
  font-family: sans-serif;
}
input,
button {
  font-size: 20px;
  padding: 10px;
  border-radius: 5px;
}
input {
  display: block;
  margin-bottom: 20px;
}
button {
  border: 1px solid gray;
  background: whitesmoke;
  margin-right: 5px;
}
.manipulations{
  background: tomato;
  color: white;
}
.main{
  display: flex;
  flex-direction: column;
  display: fill-content;
  border-radius: 20px;
  align-items: center;
  background-color: #4e5e6a;
}
.container {
  display: flex;
  flex-direction: column;

  align-items: center;

  padding: 20px;
}