body{
  background-color: #4e5e6a;
}
* {
  font-family: sans-serif;
}
input,
button {
  font-size: 20px;
  padding: 10px;
  border-radius: 5px;
}
input {
  display: block;
  margin-bottom: 20px;
}
button {
  border: 1px solid gray;
  background: whitesmoke;
  margin-right: 5px;
}
.manipulations{
  background: tomato;
  color: white;
}
.App{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.main{
  display: flex;
  flex-direction: column;
  display: inline-block;
  border-radius: 20px;
  justify-content: center ;
  align-items: center;
  background-color: #163f5f;
  border: 1px solid #02abac;
  padding: 20px;
}
.container {
  display: flex;
  flex-direction: column;

  align-items: center;

  padding: 20px;
}